<section class='footer'>
  <article class='footer-content-container'>
    <p class='signature'>©2015 Pete M McCarthy</p>
    <!-- <p class='footer-text'>See you again soon!</p> -->
  </article>
</section>
