<div class="container cv-container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
      <h2>Pete M McCarthy</h2>
      <h4>Profile</h4>
      <p>I like to deliver working software and amazing cleint experiences.</p>
      <h4>Experience</h4>
      <p>Front End Developer - British Gas</p>
      <h4>Education</h4>
      <p>University of Leicester</p>
    </div>
  </div>
</div>
{{yield}}
