<div class="container cv-container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1">
      <h2>Pete M McCarthy</h2>
      <h4>Profile</h4>
      <p>I enjoy delivering working software and amazing customer journey experiences.</p>
      <h4>Career highlights</h4>
      <p>Front-End Engineer - British Gas</p>
      <h4>Education</h4>
      <p>B.A. Business Economics, University of Leicester</p>
    </div>
  </div>
</div>
{{yield}}
