<menu class='main-menu'>
  <section class='menuitem-container'>
    <h3 class='menuitem-welcome'>Welcome to petemmccarthy.com</h3>
    <a href='#work' id='menuitem-profile'>Profile</a>
    <a href='#contact' id='menuitem-contact'>Contact</a>
  </section>
</menu>

{{yield}}
