body {
  font-family: "Calibri", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #C0DEED;
}

header {
  background-color: #fff;
  position: fixed;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  text-align: center;
  margin: 0px auto;
  /*top: 0px;*/
  /*background-repeat: no-repeat;*/
}

.welcome-text {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
      }
      .welcome-prompt-text {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
      .scroll-arrow-link {
        margin-left: auto;
        margin-right: auto;
      }
        #scroll-arrow {
          background: url(../images/scroll_arrow.png);
          margin-top: 25px;
          -webkit-font-smoothing: antialiased;
        }

    .main-menu {
      height: 70px;
      background: #343434;
      color: #FFF;
    }
      .menuitem-container {
        float: right;
        font-size: 20px;
        font-weight: 200;
        vertical-align: middle;
        line-height: 70px;
        height: 38px;
        letter-spacing: 0.7px;
        margin-right: 35px;

        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;     /* NEW - Chrome */
        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
      }
        #menuitem-skills {
          margin-right: 25px;
          cursor: pointer;
          transition: 0.2s ease-in-out;
          opacity: 0.6;
          text-decoration: none;
          color: #FFF;
        }
        #menuitem-skills:hover {
          /*border-bottom: 3px solid #4dd2ff;*/
          transition: 0.2s ease-in-out;
          /*color: #4dd2ff;*/
          position: relative;
          bottom: 1px;
          opacity: 1;
        }
        #menuitem-portfolio {
          margin-right: 35px;
          cursor: pointer;
          opacity: 0.6;
          text-decoration: none;
          color: #FFF;
          transition: 0.5s ease;
        }
        #menuitem-portfolio:hover {
          /*border-bottom: 3px solid #4dd2ff;*/
          transition: 0.3s ease-in-out;
          /*color: #4dd2ff;*/
          position: relative;
          bottom: 1px;
          opacity: 1;
        }
        #menuitem-contact {
          cursor: pointer;
          opacity: 0.6;
          text-decoration: none;
          color: #FFF;
          padding-right: 25px;
        }
        #menuitem-contact:hover {
          /*border-bottom: 3px solid #4dd2ff;*/
          transition: 0.3s ease-in-out;
          /*color: #4dd2ff;*/
          position: relative;
          bottom: 1px;
          opacity: 1;
        }
