body {
  font-family: "Calibri", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #C0DEED;
}

header {
  background-color: #fff;
  position: fixed;
  height: 45px;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  text-align: center;
  margin: 0px auto;
  /*top: 0px;*/
  /*background-repeat: no-repeat;*/
}
